.App-logo {
  margin-left: 2%;
  margin-top: 2%;
  width: 85%;
  height: 90%;
}
.App-header {
  margin-bottom: 1%;
  background-color: #6cc5eb;
  display: grid;
  grid-template-columns: 11% 7% 64%;
  color: white;
  border-bottom: 2px solid rgb(34, 118, 214);
}
.box2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  font-size: 2vw;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 118, 214);
}
.box2:hover{
  color:aquamarine;
}
.box3{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  font-size: 3vw;
  justify-content: center;
  align-items: center;
}